<div class="[ social-icons-container ]">
    <a href="{{ site.twitter }}">{% include "icons/social/twitter.svg" %}</a>
    <a href="{{ site.linkedin }}">{% include "icons/social/linkedin.svg" %}</a>
    <a href="{{ site.github }}">{% include "icons/social/github.svg" %}</a>
    <a href="{{ site.codepen }}">{% include "icons/social/codepen.svg" %}</a>
    <a href="{{ site.codesandbox }}">{% include "icons/social/codesandbox.svg" %}</a>
</div>