<div class="[ social-icons-container ]">
    {% include "icons/social/twitter.svg" %}
    {% include "icons/social/linkedin.svg" %}
    {% include "icons/social/github.svg" %}
    {% include "icons/social/codesandbox.svg" %}
    {% include "icons/social/codepen.svg" %}
</div>